.container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 90%;
  }
}

.table-container {
  background: var(--clr-white);
  padding: var(--padding-01);
  border-radius: 3px;

  .table-heading {
    display: flex;
    justify-content: center;

    h2.table-title {
      font-weight: 600;
      font-size: 27px;
      color: var(--clr-text-table-title);
    }

  }

  .table-content {

    height: 37vh;
    overflow-y: auto;

    table {
      width: 100%;
      border-spacing: 0;
      thead {
        background: var(--clr-bg-table-header);
        padding: 20px 10px;
        border-radius: 4px;
        th {
          font-size: 15px;
          font-weight: 400;
          border: none !important;
          padding: 5px;
          .th-content {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 3px;
          }
        }
      }
      tbody {
        tr {
          cursor: pointer;
          padding: 8px 5px;
          td {
            border-bottom: 1px dotted var(--clr-bg-main);
          }
          &.data-row:hover {
            background: var(--clr-table-hover);
          }

          td {
            padding: 5px;
            font-size: 13px;
            font-weight: 300;
          }

        }
      }
    }

  }

}

.search-input-container {
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  border: 1px solid var(--clr-white);
  input {
    flex-grow: 1;
    font-size: 14px;
    padding: 5px;
    border: none;
    outline: none;
  }
  &:has(input:focus){
    border: 1px solid var(--clr-bg-main);
  }
}

.table-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  margin-top: 10px;
  button {
    padding: var(--padding-01);
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--clr-bg-btn);
    color: var(--clr-text-btn);
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      background: var(--clr-bg-main-hover);
    }
  }
}
